@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.oleo {
  font-family: "Oleo Script", cursive;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination Link {
  display: inline-block;
  padding: 5px 10 px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

.pagination Link:hover {
  background: #eee;
}

.pagination li.activerPagination {
  background: rgb(247, 88, 71);
  border-radius: 4px;
  color: #fff;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg {
  background-color: #fcf9ff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23fb2704' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
